<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Twity</title>
    </head>
    <body>
        <h1>Contact</h1>

        <p>
            Get in touch with me at
            <a href="rmalave.net/contact.html">contact page</a>.
        </p>
    </body>
</html>
