<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Twity</title>
  </head>
  <body>
    <h1>Twity Demo App</h1>
    <p>
      This is the home page for the
      twity sample application.
    </p>
  </body>
</html>